<section id="navbarBlock">
  <article>
    <div class="logoBlock">
     <a href="#"> <img src="../../images/Logo.jpg" alt="" /></a>
    </div>
    <div class="menuBlock">
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/Assignment">Assignment</a></li>
          <li><a href="">login</a></li>
          <li><a href="">register</a></li>
          <li><a href="/contact">contact us</a></li>
        </ul>
      </nav>
    </div>
  </article>
</section>