<section id="contactBlock">
  <article>
    <form method="post" action="/contact">
      <div>
        <lable for="firstname">First Name</lable>
        <input
          type="text"
          id="firstname"
          name="firstname"
          placeholder="Enter your firstname"
          required
        />
      </div>
      <div>
        <lable for="lastname">Last Name</lable>
        <input
          type="text"
          id="lastname"
          name="lastname"
          placeholder="Enter your lastname"
          required
        />
      </div>
      <div>
        <lable for="email">Email</lable>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div>
        <lable for="phone">Phone Number </lable>
        <input
          type="phone"
          id="phone"
          name="phone"
          placeholder="Enter your Number"
          required
        />
      </div>
      <div>
        <lable for="description">Description </lable>
        <textarea cols="30" rows="0" name="description">
        </textarea>
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </article>
</section>